{% extends 'bases/home_base.html' %}


{% block content %}
{% for reserv in reservConf %}
{% if forloop.first %}
<section id="gtco-reservation" class="bg-fixed bg-white section-padding overlay" style="background-image: url({{ reserv.image.url }});">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="section-content bg-white p-5 shadow">
                    
                        <div class="heading-section text-center">
                            <span class="subheading">
                                {{ reserv.titre }}
                            </span>
                            <h2>
                                {{ reserv.sous_titre }}
                            </h2>
                        </div>
                        {% endif %}
                        {% endfor %}
                    <form method="post" name="contact-us" enctype="multipart/form-data" action="">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control" name="nom" placeholder="Name">
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="email" class="form-control" name="email" placeholder="Email">
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="number" class="form-control" name="numero" placeholder="Phone">
                            </div>
                            <div class="col-md-6 form-group">
                                <div class="input-group date" id="datetimepicker4" data-target-input="nearest">
                                    <input type="date" class="form-control datepicker-input" name="date" data-target="#datepicker4" placeholder="Date" />
                                    <div class="input-group-append form_date" data-target="#datepicker4" data-toggle="datepicker">
                                        <div class="input-group-text">
                                            <span class="lnr lnr-calendar-full"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 form-group">
                                <div class="input-group time" id="timepicker3" data-target-input="nearest">
                                    <input type="time" class="form-control timepicker-input" name="heure" data-target="#timepicker3" placeholder="Time" />
                                    <div class="input-group-append" data-target="#timepicker3" data-toggle="timepicker">
                                        <div class="input-group-text">
                                            <span class="lnr lnr-clock"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 form-group">
                                <select class="form-control" name="personne">
                                    <option></option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>

                            <div class="col-md-12 form-group">
                                <textarea class="form-control" name="message" rows="6" placeholder="Your Message ..."></textarea>
                            </div>
                            <div class="col-md-12 text-center">
                                <button class="btn btn-primary btn-shadow btn-lg" type="submit">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</section>

{% endblock content %}
    