{% extends 'bases/home_base.html' %}


{% block content %}
<section id="gtco-menu" class="section-padding">
    <div id="my-app">
        <div class="container">
            <div class="section-content">
                <div class="row mb-5">
                    <div class="col-md-12">
                        <div class="heading-section text-center">
                            <span class="subheading">
                                ${ special }
                            </span>
                            <h2>
                                ${ our }
                            </h2>
                        </div>  
                    </div>
                </div>
                <div class="row">
                    <my-compo></my-compo>
                    <my-compo></my-compo>
                    <my-compo></my-compo>
                </div>
            </div>
        </div>
    </div>
    </section>

{% endblock content %}
    