{% extends 'bases/home_base.html' %}


{% block content %}
<section id="gtco-team" class="bg-white section-padding">
        <div class="container">
            <div class="section-content">
                <div class="heading-section text-center">
                    <span class="subheading">
                        Specialties
                    </span>
                    <h2>
                        Our Team
                    </h2>
                </div>
                <div class="row">
                   <team-compo></team-compo>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
    